@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Montserrat:wght@400;700;900&family=Poppins:wght@200;400;600;800&family=Quicksand:wght@600&family=Zeyada&display=swap');
$font: "Montserrat", 'Babylonica', 'Poppins', 'Quicksand', "Zeyada", Helvetica, "Fredoka One", Verdana;
$bgp: "white";
$bgs: "#292929";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: white;
    background-color: #2B2E30;
    font-family: "Montserrat", "Helvetica Neue", Helvetica;

    .menu a {
        text-decoration: none;
        padding: 5px 20px;
        margin: 0px 99px 99px 0px;
        color: white;
        transition: 0.5s;
        &:hover {
            color: rgb(137, 57, 194);
        }
    }
}

.menu-bg {
    display: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top:5px;
    font-family: "Montserrat", "Poppins", Verdana;
    color: white;
    background-image: linear-gradient(#2B2E30 35%, #0040ae 35%);

    .sobre {
        margin-right: -45px;
    
        h1 {
            filter: drop-shadow(0.5px 0.5px 25px black);
        }
    }

    #ps {
        padding: 5px 0 0 0;

        p {
            margin: 15px 0 0 0;
        }
    }
}

#meus {
    text-align: center;
    font-family: $font;
    color: white;
}

.container2 {
    margin: auto;
    height: 100vh;
    background-image: linear-gradient(#0040ae 25%, #5878fa 45%);
    #cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 18px;
    }

    #card {
        border: 5px solid rgb(255, 255, 255);
        border-radius: 30px;
        text-align: center;
        height: 550px;
        transition: 0.5s ease;
        background-color: transparent;
        color: white;
        &:hover {
            transform: scale(1.02);
            box-shadow: 2px 2px 1px black;
        }

        #css {
            background-color: #0037ff;
            color: rgb(239, 239, 239);
            text-shadow: 0.5px 1px 5px black;
            font-weight: bolder;
            box-shadow: 2.5px 2px 0.5px rgba(0, 0, 0, 0.665);
        }

        #sass {
            background-color: #ce679a;
            color: rgb(255, 255, 255);
            text-shadow: 0.5px 1px 5px black;
            font-weight: bolder;
            box-shadow: 2.5px 2px 0.5px rgba(0, 0, 0, 0.665);
        }

        #js {
            background-color: rgb(211, 204, 56);
            text-shadow: 0.5px 1px 5px black;
            color: rgb(255, 255, 255);
            font-weight: bolder;
            box-shadow: 2.5px 2px 0.5px rgba(0, 0, 0, 0.665);
        }

        #bts {
            background-color: indigo;
            font-weight: bolder;
            box-shadow: 2.5px 2px 0.5px rgba(0, 0, 0, 0.665);
            text-shadow: 0.5px 1px 5px black;
        }

        img {
            border-radius: 25px 25px 0px 0px;
        }

        #nome {
            margin-top: 10px;
            margin-bottom: 10px;
            font-family: $font;
        }

        #desc {
            text-align: center;
            margin: 5px;
            margin-bottom: 5px;
            font-family: $font;
            line-height: 23px;
            width: 335px;
            p {
                font-size: 12px;
                padding: 10px 0px 0px 0px;
            }
        }

        #tecs {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 25px;
            margin-bottom: 25px;
            font-family: $font;

            p {
                border: 0.5px solid rgb(2, 0, 3);
                border-radius: 5px;
                padding: 5px;
            }
        }

        #view {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 35px;
            a {
                text-decoration: none;
                outline: none;
                color: rgb(255, 255, 255);
                margin: 5;
                font-family: $font;
                border-radius: 5px;
                padding: 5px;

                img {
                    margin-left: 25px;
                    margin-right: 25px;
                    filter: invert(100%);
                    transition: 0.5s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.container3 {
    background-color: #5878fa;
    height: 100vh;
    h1 {
        text-align: center;
        color: white;
        font-family: $font;
        padding: 10px 15px 5px 25px;
    }
    #tecnologias {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px 5px 45px 5px;
        img {
            filter: drop-shadow(0.5px 0.5px 15px black);
            transition: 0.5s ease;
            &:hover {
                transform: translateY(-10px);
            }
        }
    }

    #utilitarios {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px 5px 50px 5px;
        margin: auto;
        text-align: center;
        img {
            filter: drop-shadow(0.5px 0.5px 15px black);
            transition: 0.5s ease;
            &:hover {
                transform: translateY(-10px);
            }
        }
    }

    #adicionais {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px 5px 50px 5px;
        margin: auto;
        text-align: center;
        img {
            filter: drop-shadow(0.5px 0.5px 15px black);
            transition: 0.5s ease;
            &:hover {
                transform: translateY(-10px);
            }
        }
    }

    #extras {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px 5px 0px 0px;
        margin: auto;
        text-align: center;
        img {
            filter: drop-shadow(0.5px 0.5px 15px black);
            transition: 0.5s ease;
            &:hover {
                transform: translateY(-10px);
            }
        }
    }
}

#topo {
    text-align: center;
    font-family: $font;
    font-weight: 600;
    padding: 145px;
    background-color: #2B2E30;

    a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (max-width: 428px) {
    header {
        display: none;
    }

    .menu-bg {
        display:block;
        background-color: #090909;
        #bgr {
            margin-left: 375px;
            filter: (invert(100%));
        }

        ul {
            width: 423px;
            text-align: center;
            list-style: none;
            li {
                padding: 15px;
                border: 1px solid white;
                width: 355px;
                margin: auto;
                margin-top: 10px;
                text-decoration: none;
            }
        }

        a {
            text-decoration: none;
            color: rgb(253, 253, 253);
            font-family: $font;
            width: 414px;
            text-align: center;
            margin: auto;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .sobre {
            text-align: center;
            margin-left: -35px;
            padding-top: 35px;
        }

        .foto img {
            width: 385px
        }
    }

    #projeto {
        padding-top: 25px;
        
        #cards {
            display: flex;
            flex-direction: column;

            #card {
                margin-bottom: 15px;
            }
        }
    }

    .container3 {
        #tudo {
            padding-top: 25px;
        }
        padding-top: 1055px;
        #tecnologias, #utilitarios, #adicionais {
            img {
                width: 50px;
            }
        }
    }

    #topo {
        text-align: center;
        font-family: $font;
        font-size: 10px;
        padding-top: 455px;
        background-color: #2B2E30;
    
        a {
            text-decoration: none;
            color: white;
        }
    }
}

@media screen and (max-width: 414px) {
    header {
        display: none;
    }
    .menu-bg {
        display:block;
        background-color: #090909;
        #bgr {
            margin-left: 355px;
            filter: (invert(100%));
        }

        ul {
            width: 423px;
            text-align: center;
            list-style: none;
            li {
                padding: 15px;
                border: 1px solid white;
                width: 355px;
                margin: auto;
                margin-top: 10px;
                text-decoration: none;
            }
        }

        a {
            text-decoration: none;
            color: rgb(253, 253, 253);
            font-family: $font;
            width: 414px;
            text-align: center;
            margin: auto;
        }
    }

    .container {
        width: 414px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .sobre, .foto {
            width: 410px;
        }

        .sobre {
            text-align: center;
            margin-left: -35px;
            padding-top: 35px;
        }

        .foto img {
            width: 385px
        }
    }

    #projeto {
        padding-top: 25px;
        
        #cards {
            display: flex;
            flex-direction: column;

            #card {
                margin-bottom: 15px;
            }
        }
    }

    .container3 {
        #tudo {
            padding-top: 25px;
        }
        padding-top: 1055px;
        #tecnologias, #utilitarios, #adicionais {
            img {
                width: 50px;
            }
        }
    }

    #topo {
        text-align: center;
        font-family: $font;
        font-size: 10px;
        padding-top: 455px;
        background-color: #2B2E30;
    
        a {
            text-decoration: none;
            color: white;
        }
    }
}

@media screen and (max-width: 390px) {
    header {
        display: none;
    }
    .menu-bg {
        display:block;
        background-color: #090909;
        #bgr {
            margin-left: 335px;
            filter: (invert(100%));
        }

        ul {
            width: 400px;
            text-align: center;
            list-style: none;
            li {
                padding: 15px;
                border: 1px solid white;
                width: 355px;
                margin: auto;
                margin-top: 10px;
                text-decoration: none;
            }
        }

        a {
            text-decoration: none;
            color: rgb(253, 253, 253);
            font-family: $font;
            width: 414px;
            text-align: center;
            margin: auto;
        }
    }

    .container {
        width: 414px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .sobre, .foto {
            width: 410px;
        }

        .sobre {
            text-align: center;
            margin-left: -55px;
            padding-top: 5px;
        }

        .foto img {
            width: 385px
        }
    }

    #projeto {
        padding-top: 25px;
        
        #cards {
            display: flex;
            flex-direction: column;

            #card {
                margin-bottom: 15px;
            }
        }
    }

    .container3 {
        #tudo {
            padding-top: 25px;
        }
        padding-top: 1055px;
        #tecnologias, #utilitarios, #adicionais {
            img {
                width: 50px;
            }
        }
    }

    #topo {
        text-align: center;
        font-family: $font;
        font-size: 10px;
        padding-top: 455px;
        background-color: #2B2E30;
    
        a {
            text-decoration: none;
            color: white;
        }
    }
}

@media screen and (max-width: 375px) {
    header {
        display: none;
    }
    .menu-bg {
        display:block;
        background-color: #090909;
        #bgr {
            margin-left: 315px;
            filter: (invert(100%));
        }

        ul {
            width: 383px;
            text-align: center;
            list-style: none;
            li {
                padding: 15px;
                border: 1px solid white;
                margin: auto;
                margin-top: 10px;
                text-decoration: none;
            }
        }

        a {
            text-decoration: none;
            color: rgb(253, 253, 253);
            font-family: $font;
            text-align: center;
            margin: auto;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;

        .sobre {
            text-align: center;
            margin-left: -75px;
            padding-top: 25px;
        }

        .foto {
            margin-left: -45px;
            img {
                width: 310px;
            }
        }
    }

    #projeto {
        padding-top: 25px;
        
        #cards {
            display: flex;
            flex-direction: column;

            #card {
                margin-bottom: 15px;
            }
        }
    }

    .container3 {
        #tudo {
            padding-top: 25px;
        }
        padding-top: 1055px;
        #tecnologias, #utilitarios, #adicionais {
            img {
                width: 50px;
            }
        }
    }

    #topo {
        text-align: center;
        font-family: $font;
        font-size: 10px;
        padding-top: 455px;
        background-color: #2B2E30;
    
        a {
            text-decoration: none;
            color: white;
        }
    }
}

@media screen and (max-width: 360px) {
    header {
        display: none;
    }
    .menu-bg {
        display:block;
        background-color: #090909;
        #bgr {
            margin-left: 305px;
            filter: (invert(100%));
        }

        ul {
            width: 363px;
            text-align: center;
            list-style: none;
            li {
                padding: 15px;
                border: 1px solid white;
                margin: auto;
                margin-top: 10px;
                text-decoration: none;
            }
        }

        a {
            text-decoration: none;
            color: rgb(253, 253, 253);
            font-family: $font;
            text-align: center;
            margin: auto;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;

        .sobre {
            text-align: center;
            margin-left: -85px;
            padding-top: 25px;
        }

        .foto {
            margin-left: -65px;
            img {
                width: 385px;
            }
        }
    }

    #projeto {
        padding-top: 25px;
        
        #cards {
            display: flex;
            flex-direction: column;

            #card {
                margin-bottom: 15px;
                width: 325px;

                #picture-pj {
                    width: 315px;
                }
            }
            #desc {
                width: 305px;
                margin: auto;
            }
        }
    }

    .container3 {
        #tudo {
            padding-top: 25px;
        }
        padding-top: 1055px;
        #tecnologias, #utilitarios, #adicionais {
            img {
                width: 50px;
            }
        }
    }

    #topo {
        text-align: center;
        font-family: $font;
        font-size:8px;
        padding-top:555px;
        background-color: #2B2E30;
    
        a {
            text-decoration: none;
            color: white;
        }
    }
}